UI/css/index.css
UI/html/admin/OfficeManagement.html
UI/html/admin/createOffice.html
UI/html/admin/createParty.html
UI/html/admin/dashboard.html
UI/html/admin/partyManagement.html
UI/html/admin/viewAllUsera.html
UI/html/admin/viewVotes.html
UI/html/login.html
UI/html/officePage.html
UI/html/politician/createPetition.html
UI/html/politician/runForOffice.html
UI/html/polticianAcc.html
UI/js/account.js
UI/js/candidates.js
UI/js/createOffice.js
UI/js/createParty.js
UI/js/createPetion.js
UI/js/dashboard.js
UI/js/landing.js
UI/js/login.js
UI/js/office.js
UI/js/offices.js
UI/js/parties.js
UI/js/party.js
UI/js/politician.js
UI/js/reset.js
UI/js/sign_up.js
UI/js/viewOffices.js
UI/js/viewParties.js
UI/js/viewUsers.js
UI/js/viewVotes.js
